#block-islandora-compound-object-compound-jail-display {
    float: right;
    max-height: 400px;
    max-width: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#block-islandora-compound-object-compound-jail-display img {
    width: 100%;
}

html:not(.js) #block-islandora-compound-object-compound-jail-display img.islandora-compound-object-jail {
    display: none;
}

/* Tabs Controls */

.tabs.primary > a {
  float: left;
}

#islandora-compound-sequence-position, #islandora-compound-previous-link, #islandora-compound-next-link {
	float: right;
	line-height: 2.5em;
	padding: 0 0.15em;
}

.islandora-large-image-object.islandora {
  float: left;
  width: 78%;
}