.islandora-compound-title {
  font-weight: bold;
}

.islandora-compound-prev-next {
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 15px;
}

.islandora-compound-thumbs {
  display: block;
  overflow: auto;
}

.islandora-compound-thumb {
  margin: 5px 5px 5px 5px;
  display: inline-block;
}

.islandora-compound-thumbs img {
  float: left;
}

.islandora-compound-thumb .islandora-compound-caption {
  width: 100%;
  overflow: hidden;
  float: left;
}

.islandora-compound-thumbs .active img {
  border:0.3em solid;
}
