/* Display in Content Region */

#block-islandora-compound-object-compound-jail-display {
    height: 100px;

    height: 200px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 90%;
}
#block-islandora-compound-object-compound-jail-display a {
    display: inline-block;
    max-width: 25%;
    vertical-align: top;
}
#block-islandora-compound-object-compound-jail-display img {
    margin-right: 0.5em;
    max-width: 75%;
}

/* Display in Sidebar Region */

.sidebar #block-islandora-compound-object-compound-jail-display {
  float: none;
  height: 700px;
  width: auto;
  min-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sidebar #block-islandora-compound-object-compound-jail-display img {
    margin-bottom: 0.5em;
    margin-right: 0;
    width: 100%;
}

/* Shared */

#block-islandora-compound-object-compound-jail-display .form-type-item:first-child {
	margin: 0;
}

#block-islandora-compound-object-compound-jail-display .form-type-item:nth-child(2) {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.5em;
}

html:not(.js) #block-islandora-compound-object-compound-jail-display img.islandora-compound-object-jail {
    display: none;
}

/* Tabs Controls */

.tabs.primary > a {
  float: left;
}

#islandora-compound-sequence-position, #islandora-compound-previous-link, #islandora-compound-next-link {
	float: right;
	line-height: 2.5em;
	padding: 0 0.15em;
}

/* Solution Pack Overrides */

a.islandora-pdf-link {
  clear: both;
  float: left;
  margin: 5px 0 0 5px;
}
