#block-islandora-compound-object-compound-jail-display {
    float: right;
    height: 600px;
    min-height: 400px;
    max-width: 20%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 90%;
}

#block-islandora-compound-object-compound-jail-display img {
    width: 100%;
    margin-bottom: 0.5em;
}
#block-islandora-compound-object-compound-jail-display .form-type-item:first-child {
	margin: 0;
}
#block-islandora-compound-object-compound-jail-display .form-type-item:nth-child(2) {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.5em;
}

html:not(.js) #block-islandora-compound-object-compound-jail-display img.islandora-compound-object-jail {
    display: none;
}

/* Tabs Controls */

.tabs.primary > a {
  float: left;
}

#islandora-compound-sequence-position, #islandora-compound-previous-link, #islandora-compound-next-link {
	float: right;
	line-height: 2.5em;
	padding: 0 0.15em;
}

/* Solution Pack Overrides */

a.islandora-pdf-link {
  clear: both;
  float: left;
  margin: 5px 0 0 5px;
}

/* Display in Sidebars */

.sidebar #block-islandora-compound-object-compound-jail-display {
  float: none;
  max-width: 100%;
  height: 700px;
}